.colorBtnItem {
    background-color: #5471D8;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
}
.colorBtnItem:hover {
    box-shadow: 0 0 40px #b9b9c3;
}