.underLineBtnItem {
    color: #1f1f1f;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    &:hover {
        &::after {
            width: 100%;
        }
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #5471D8;
        transition: 0.2s;
    }
}